# Env
.env

# Docker
docker/backups/
docker/data/
docker/volumes/

# Postgres
*.sql.dump

# Node
node_modules/
.next/

# Python
__pycache__/
*.pyc
.venv/

# Java
target/
*.jar

# Logs
*.log

# OS
.DS_Store

#Documentation
documentation