# Env
.env

# Docker
docker/backups/
docker/data/
docker/volumes/

# Postgres
*.sql.dump

# Node
node_modules/
.next/

# Python
__pycache__/
*.pyc
.venv/

# Java
target/
*.jar

# Logs
*.log

# OS
.DS_Store

test/_pycache__/
test/Lib
test/Include
test/share
test/Scripts
test/stock_history_csv
test/pyvenv.cfg
test/*.csv
test/*.json
test/*.pdf